-- CreateEnum
CREATE TYPE "EnumStatusGuru" AS ENUM ('ACTIVE', 'INACTIVE');

-- CreateEnum
CREATE TYPE "Gender" AS ENUM ('LAKI_LAKI', 'PEREMPUAN');

-- CreateEnum
CREATE TYPE "Hari" AS ENUM ('SENIN', 'SELASA', 'RABU', 'KAMIS', 'JUMAT', 'SABTU', 'MINGGU');

-- CreateEnum
CREATE TYPE "JenisKelas" AS ENUM ('TinyTods', 'PreLittleStar', 'LittleStar', 'RisingStar', 'PreShiningStar', 'ShiningStar', 'Elementary', 'TinyStar');

-- CreateEnum
CREATE TYPE "StatusAbsenGuru" AS ENUM ('HADIR', 'ALPA', 'SAKIT', 'IJIN');

-- CreateEnum
CREATE TYPE "StatusAbsenMurid" AS ENUM ('HADIR', 'ALPA', 'OFF_SEMENTARA');

-- CreateEnum
CREATE TYPE "StatusMurid" AS ENUM ('AKTIF', 'NON_AKTIF', 'LULUS', 'TRIAL', 'PENDING', 'PLACEMENT_TEST', 'ON_GOING', 'WAITING_LIST', 'TUNGGU_KONFIRMASI');

-- CreateEnum
CREATE TYPE "StatusPembayaran" AS ENUM ('LUNAS', 'BELUM_LUNAS', 'PENDING');

-- CreateEnum
CREATE TYPE "TipeKelas" AS ENUM ('REGULAR', 'PRIVATE');

-- CreateEnum
CREATE TYPE "UserRole" AS ENUM ('GURU', 'ADMIN', 'MANAGER');

-- CreateTable
CREATE TABLE "AbsensiGuru" (
    "id" TEXT NOT NULL,
    "guruId" TEXT NOT NULL,
    "sesiPertemuanKelasId" TEXT NOT NULL,
    "status" "StatusAbsenGuru" NOT NULL,
    "isVerified" BOOLEAN NOT NULL DEFAULT false,
    "verifiedById" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "AbsensiGuru_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "AbsensiMurid" (
    "id" TEXT NOT NULL,
    "muridId" TEXT NOT NULL,
    "sesiPertemuanKelasId" TEXT NOT NULL,
    "status" "StatusAbsenMurid" NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "AbsensiMurid_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Account" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "type" TEXT NOT NULL,
    "provider" TEXT NOT NULL,
    "providerAccountId" TEXT NOT NULL,
    "refresh_token" TEXT,
    "access_token" TEXT,
    "expires_at" INTEGER,
    "token_type" TEXT,
    "scope" TEXT,
    "id_token" TEXT,
    "session_state" TEXT,
    "refresh_token_expires_in" INTEGER,

    CONSTRAINT "Account_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Cabang" (
    "id" TEXT NOT NULL,
    "namaCabang" TEXT NOT NULL,
    "alamat" TEXT NOT NULL,
    "noTelp" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Cabang_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "HistoryGuruKelas" (
    "id" TEXT NOT NULL,
    "kelasId" TEXT NOT NULL,
    "guruId" TEXT NOT NULL,
    "mulaiPada" VARCHAR(10) NOT NULL,
    "selesaiPada" VARCHAR(10),
    "statusGuru" "EnumStatusGuru" NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "HistoryGuruKelas_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "JadwalKelas" (
    "id" TEXT NOT NULL,
    "kelasId" TEXT NOT NULL,
    "ruangId" TEXT NOT NULL,
    "hari" "Hari" NOT NULL,
    "jamSlotTetapId" TEXT,
    "jamSlotCustomId" TEXT,

    CONSTRAINT "JadwalKelas_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "JamSlotCustom" (
    "id" TEXT NOT NULL,
    "jamMulai" VARCHAR(5) NOT NULL,
    "jamSelesai" VARCHAR(5) NOT NULL,

    CONSTRAINT "JamSlotCustom_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "JamSlotTetap" (
    "id" TEXT NOT NULL,
    "cabangId" TEXT NOT NULL,
    "namaSlot" TEXT NOT NULL,
    "jamMulai" VARCHAR(5) NOT NULL,
    "jamSelesai" VARCHAR(5) NOT NULL,

    CONSTRAINT "JamSlotTetap_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Kelas" (
    "id" TEXT NOT NULL,
    "jenisKelas" "JenisKelas" NOT NULL,
    "level" INTEGER NOT NULL,
    "tipe" "TipeKelas" NOT NULL,
    "grup" TEXT,
    "bulanTahunAjar" VARCHAR(7) NOT NULL,
    "deskripsi" TEXT,
    "hargaKelas" INTEGER NOT NULL,
    "kodeKelas" TEXT NOT NULL,
    "cohortId" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "cabangId" TEXT NOT NULL,

    CONSTRAINT "Kelas_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Murid" (
    "id" TEXT NOT NULL,
    "namaLengkap" TEXT NOT NULL,
    "email" TEXT NOT NULL,
    "alamat" TEXT NOT NULL,
    "gender" "Gender" NOT NULL,
    "umur" INTEGER NOT NULL,
    "asalSekolah" TEXT NOT NULL,
    "kelasSekolah" TEXT NOT NULL,
    "jamPulang" TEXT NOT NULL,
    "noWA" TEXT NOT NULL,
    "pilihanProgram" TEXT,
    "sumberInfo" TEXT NOT NULL,
    "statusMurid" "StatusMurid" NOT NULL DEFAULT 'NON_AKTIF',
    "deskripsi" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "cabangId" TEXT NOT NULL,

    CONSTRAINT "Murid_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Pembayaran" (
    "id" TEXT NOT NULL,
    "pendaftaranKelasId" TEXT NOT NULL,
    "pembayaranKe" INTEGER NOT NULL,
    "tanggalJatuhTempo" TIMESTAMP(3) NOT NULL,
    "jumlahBayar" INTEGER NOT NULL,
    "tanggalBayar" TIMESTAMP(3),
    "imageUrl" TEXT,
    "statusBayar" "StatusPembayaran" NOT NULL DEFAULT 'BELUM_LUNAS',
    "note" TEXT,
    "verifiedById" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Pembayaran_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "PendaftaranKelas" (
    "id" TEXT NOT NULL,
    "muridId" TEXT NOT NULL,
    "kelasId" TEXT NOT NULL,
    "tanggalMulai" VARCHAR(10) NOT NULL,
    "isAktif" BOOLEAN NOT NULL DEFAULT true,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "PendaftaranKelas_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Post" (
    "id" SERIAL NOT NULL,
    "name" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "createdById" TEXT NOT NULL,

    CONSTRAINT "Post_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Ruang" (
    "id" TEXT NOT NULL,
    "namaRuang" TEXT NOT NULL,
    "isAktif" BOOLEAN NOT NULL DEFAULT true,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "cabangId" TEXT NOT NULL,

    CONSTRAINT "Ruang_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "SesiPertemuanKelas" (
    "id" TEXT NOT NULL,
    "kelasId" TEXT NOT NULL,
    "ruangId" TEXT NOT NULL,
    "tanggalWaktu" TIMESTAMP(3) NOT NULL,
    "jadwalKelasId" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "SesiPertemuanKelas_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Session" (
    "id" TEXT NOT NULL,
    "sessionToken" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "expires" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Session_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "User" (
    "id" TEXT NOT NULL,
    "name" TEXT,
    "email" TEXT,
    "image" TEXT,
    "password" TEXT,
    "role" "UserRole" NOT NULL DEFAULT 'GURU',
    "cabangId" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "User_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "VerificationToken" (
    "identifier" TEXT NOT NULL,
    "token" TEXT NOT NULL,
    "expires" TIMESTAMP(3) NOT NULL
);

-- CreateIndex
CREATE INDEX "AbsensiGuru_guruId_idx" ON "AbsensiGuru"("guruId");

-- CreateIndex
CREATE INDEX "AbsensiGuru_sesiPertemuanKelasId_idx" ON "AbsensiGuru"("sesiPertemuanKelasId");

-- CreateIndex
CREATE INDEX "AbsensiGuru_verifiedById_idx" ON "AbsensiGuru"("verifiedById");

-- CreateIndex
CREATE UNIQUE INDEX "AbsensiGuru_guruId_sesiPertemuanKelasId_key" ON "AbsensiGuru"("guruId", "sesiPertemuanKelasId");

-- CreateIndex
CREATE INDEX "AbsensiMurid_muridId_idx" ON "AbsensiMurid"("muridId");

-- CreateIndex
CREATE INDEX "AbsensiMurid_sesiPertemuanKelasId_idx" ON "AbsensiMurid"("sesiPertemuanKelasId");

-- CreateIndex
CREATE UNIQUE INDEX "AbsensiMurid_muridId_sesiPertemuanKelasId_key" ON "AbsensiMurid"("muridId", "sesiPertemuanKelasId");

-- CreateIndex
CREATE INDEX "Account_userId_idx" ON "Account"("userId");

-- CreateIndex
CREATE UNIQUE INDEX "Account_provider_providerAccountId_key" ON "Account"("provider", "providerAccountId");

-- CreateIndex
CREATE UNIQUE INDEX "Cabang_namaCabang_key" ON "Cabang"("namaCabang");

-- CreateIndex
CREATE INDEX "HistoryGuruKelas_guruId_idx" ON "HistoryGuruKelas"("guruId");

-- CreateIndex
CREATE INDEX "HistoryGuruKelas_kelasId_idx" ON "HistoryGuruKelas"("kelasId");

-- CreateIndex
CREATE INDEX "JadwalKelas_hari_idx" ON "JadwalKelas"("hari");

-- CreateIndex
CREATE INDEX "JadwalKelas_jamSlotCustomId_idx" ON "JadwalKelas"("jamSlotCustomId");

-- CreateIndex
CREATE INDEX "JadwalKelas_jamSlotTetapId_idx" ON "JadwalKelas"("jamSlotTetapId");

-- CreateIndex
CREATE INDEX "JadwalKelas_kelasId_idx" ON "JadwalKelas"("kelasId");

-- CreateIndex
CREATE INDEX "JadwalKelas_ruangId_idx" ON "JadwalKelas"("ruangId");

-- CreateIndex
CREATE UNIQUE INDEX "JamSlotCustom_jamMulai_jamSelesai_key" ON "JamSlotCustom"("jamMulai", "jamSelesai");

-- CreateIndex
CREATE INDEX "JamSlotTetap_cabangId_idx" ON "JamSlotTetap"("cabangId");

-- CreateIndex
CREATE INDEX "Kelas_bulanTahunAjar_idx" ON "Kelas"("bulanTahunAjar");

-- CreateIndex
CREATE INDEX "Kelas_cabangId_idx" ON "Kelas"("cabangId");

-- CreateIndex
CREATE INDEX "Kelas_kodeKelas_idx" ON "Kelas"("kodeKelas");

-- CreateIndex
CREATE INDEX "Kelas_level_idx" ON "Kelas"("level");

-- CreateIndex
CREATE UNIQUE INDEX "Kelas_cabangId_kodeKelas_key" ON "Kelas"("cabangId", "kodeKelas");

-- CreateIndex
CREATE INDEX "Murid_cabangId_idx" ON "Murid"("cabangId");

-- CreateIndex
CREATE INDEX "Murid_namaLengkap_idx" ON "Murid"("namaLengkap");

-- CreateIndex
CREATE INDEX "Murid_noWA_idx" ON "Murid"("noWA");

-- CreateIndex
CREATE INDEX "Murid_statusMurid_idx" ON "Murid"("statusMurid");

-- CreateIndex
CREATE INDEX "Pembayaran_pendaftaranKelasId_idx" ON "Pembayaran"("pendaftaranKelasId");

-- CreateIndex
CREATE INDEX "Pembayaran_statusBayar_idx" ON "Pembayaran"("statusBayar");

-- CreateIndex
CREATE INDEX "Pembayaran_tanggalJatuhTempo_idx" ON "Pembayaran"("tanggalJatuhTempo");

-- CreateIndex
CREATE INDEX "Pembayaran_verifiedById_idx" ON "Pembayaran"("verifiedById");

-- CreateIndex
CREATE UNIQUE INDEX "Pembayaran_pendaftaranKelasId_pembayaranKe_key" ON "Pembayaran"("pendaftaranKelasId", "pembayaranKe");

-- CreateIndex
CREATE INDEX "PendaftaranKelas_isAktif_idx" ON "PendaftaranKelas"("isAktif");

-- CreateIndex
CREATE INDEX "PendaftaranKelas_kelasId_idx" ON "PendaftaranKelas"("kelasId");

-- CreateIndex
CREATE INDEX "PendaftaranKelas_muridId_idx" ON "PendaftaranKelas"("muridId");

-- CreateIndex
CREATE INDEX "Post_createdById_idx" ON "Post"("createdById");

-- CreateIndex
CREATE INDEX "Post_name_idx" ON "Post"("name");

-- CreateIndex
CREATE INDEX "Ruang_cabangId_idx" ON "Ruang"("cabangId");

-- CreateIndex
CREATE INDEX "Ruang_namaRuang_idx" ON "Ruang"("namaRuang");

-- CreateIndex
CREATE UNIQUE INDEX "Ruang_cabangId_namaRuang_key" ON "Ruang"("cabangId", "namaRuang");

-- CreateIndex
CREATE INDEX "SesiPertemuanKelas_kelasId_idx" ON "SesiPertemuanKelas"("kelasId");

-- CreateIndex
CREATE INDEX "SesiPertemuanKelas_tanggalWaktu_idx" ON "SesiPertemuanKelas"("tanggalWaktu");

-- CreateIndex
CREATE UNIQUE INDEX "Session_sessionToken_key" ON "Session"("sessionToken");

-- CreateIndex
CREATE INDEX "Session_userId_idx" ON "Session"("userId");

-- CreateIndex
CREATE UNIQUE INDEX "User_email_key" ON "User"("email");

-- CreateIndex
CREATE INDEX "User_role_idx" ON "User"("role");

-- CreateIndex
CREATE UNIQUE INDEX "VerificationToken_token_key" ON "VerificationToken"("token");

-- CreateIndex
CREATE UNIQUE INDEX "VerificationToken_identifier_token_key" ON "VerificationToken"("identifier", "token");

-- AddForeignKey
ALTER TABLE "AbsensiGuru" ADD CONSTRAINT "AbsensiGuru_guruId_fkey" FOREIGN KEY ("guruId") REFERENCES "User"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "AbsensiGuru" ADD CONSTRAINT "AbsensiGuru_sesiPertemuanKelasId_fkey" FOREIGN KEY ("sesiPertemuanKelasId") REFERENCES "SesiPertemuanKelas"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "AbsensiGuru" ADD CONSTRAINT "AbsensiGuru_verifiedById_fkey" FOREIGN KEY ("verifiedById") REFERENCES "User"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "AbsensiMurid" ADD CONSTRAINT "AbsensiMurid_muridId_fkey" FOREIGN KEY ("muridId") REFERENCES "Murid"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "AbsensiMurid" ADD CONSTRAINT "AbsensiMurid_sesiPertemuanKelasId_fkey" FOREIGN KEY ("sesiPertemuanKelasId") REFERENCES "SesiPertemuanKelas"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Account" ADD CONSTRAINT "Account_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "HistoryGuruKelas" ADD CONSTRAINT "HistoryGuruKelas_guruId_fkey" FOREIGN KEY ("guruId") REFERENCES "User"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "HistoryGuruKelas" ADD CONSTRAINT "HistoryGuruKelas_kelasId_fkey" FOREIGN KEY ("kelasId") REFERENCES "Kelas"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "JadwalKelas" ADD CONSTRAINT "JadwalKelas_jamSlotCustomId_fkey" FOREIGN KEY ("jamSlotCustomId") REFERENCES "JamSlotCustom"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "JadwalKelas" ADD CONSTRAINT "JadwalKelas_jamSlotTetapId_fkey" FOREIGN KEY ("jamSlotTetapId") REFERENCES "JamSlotTetap"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "JadwalKelas" ADD CONSTRAINT "JadwalKelas_kelasId_fkey" FOREIGN KEY ("kelasId") REFERENCES "Kelas"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "JadwalKelas" ADD CONSTRAINT "JadwalKelas_ruangId_fkey" FOREIGN KEY ("ruangId") REFERENCES "Ruang"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "JamSlotTetap" ADD CONSTRAINT "JamSlotTetap_cabangId_fkey" FOREIGN KEY ("cabangId") REFERENCES "Cabang"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Kelas" ADD CONSTRAINT "Kelas_cabangId_fkey" FOREIGN KEY ("cabangId") REFERENCES "Cabang"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Murid" ADD CONSTRAINT "Murid_cabangId_fkey" FOREIGN KEY ("cabangId") REFERENCES "Cabang"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Pembayaran" ADD CONSTRAINT "Pembayaran_pendaftaranKelasId_fkey" FOREIGN KEY ("pendaftaranKelasId") REFERENCES "PendaftaranKelas"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Pembayaran" ADD CONSTRAINT "Pembayaran_verifiedById_fkey" FOREIGN KEY ("verifiedById") REFERENCES "User"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "PendaftaranKelas" ADD CONSTRAINT "PendaftaranKelas_kelasId_fkey" FOREIGN KEY ("kelasId") REFERENCES "Kelas"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "PendaftaranKelas" ADD CONSTRAINT "PendaftaranKelas_muridId_fkey" FOREIGN KEY ("muridId") REFERENCES "Murid"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Post" ADD CONSTRAINT "Post_createdById_fkey" FOREIGN KEY ("createdById") REFERENCES "User"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Ruang" ADD CONSTRAINT "Ruang_cabangId_fkey" FOREIGN KEY ("cabangId") REFERENCES "Cabang"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "SesiPertemuanKelas" ADD CONSTRAINT "SesiPertemuanKelas_jadwalKelasId_fkey" FOREIGN KEY ("jadwalKelasId") REFERENCES "JadwalKelas"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "SesiPertemuanKelas" ADD CONSTRAINT "SesiPertemuanKelas_kelasId_fkey" FOREIGN KEY ("kelasId") REFERENCES "Kelas"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "SesiPertemuanKelas" ADD CONSTRAINT "SesiPertemuanKelas_ruangId_fkey" FOREIGN KEY ("ruangId") REFERENCES "Ruang"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Session" ADD CONSTRAINT "Session_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "User" ADD CONSTRAINT "User_cabangId_fkey" FOREIGN KEY ("cabangId") REFERENCES "Cabang"("id") ON DELETE SET NULL ON UPDATE CASCADE;

